In [1]:
import pandas as pd

SERIES

In [2]:
s=pd.Series([3,-5,7,4], index=['a','b','c','d'])     #Array(Series) with custom indices
s['a']

3

DATAFRAME

In [3]:
data={'Country':['India','China','Russia','USA'], 'Capital':['Delhi','Beijing','Moscow','Washington DC'],'Population':['124152512','231421414','7623521','4435232']}
df=pd.DataFrame(data,columns=['Country','Capital','Population'],index=['1','2','3','4'])
df

  Country        Capital Population
1   India          Delhi  124152512
2   China        Beijing  231421414
3  Russia         Moscow    7623521
4     USA  Washington DC    4435232